* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 20px 30px 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: auto;
}
div.card {
  margin: auto;
  margin-top: 50px;
  padding: 3px;
  box-sizing: border-box;
  min-width: 5rem;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

h5 {
  padding: 5px;
}
div img {
  border-radius: 30px;
}

.email {
  height: 3rem;
}
